<a href="https://colab.research.google.com/github/Sameem25/2015-PyDataParis/blob/master/XGBoost_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [0]:
#reading the data (csv file)

data = pd.read_csv('data.csv')

In [9]:
data

           fever  bodypain  age  runnynose  diffbreath  infected
0      99.329862         0   26          1          -1         0
1      98.115263         1   61          1           0         1
2      99.918088         1   13          0          -1         0
3     101.344456         1   55          1           0         1
4     100.056678         1   37          0           1         0
...          ...       ...  ...        ...         ...       ...
1994  101.671891         1   33          1          -1         1
1995  101.673979         1   38          0           1         1
1996   99.804430         1   76          0          -1         1
1997   98.565582         1   62          1          -1         1
1998  101.235846         0   14          1           0         0

[1999 rows x 6 columns]

In [0]:
X, y = data.iloc[:,:-1], data.iloc[:,-1]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [0]:
xg_cl = xgb.XGBClassifier(objective = 'binary:logistic', n_estimators= 1000, learning_rate= 0.01, max_depth=3, subsample = 0.8)

In [96]:
xg_cl.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.01, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.8, verbosity=1)

In [0]:
preds = xg_cl.predict(X_test)

In [98]:
accuracy = float(np.sum(preds==y_test))/y_test.shape[0]
accuracy

0.4975